
body {
	font-family: 'Open Sans', sans-serif;
	 background: linear-gradient(to right, rgba(123, 203, 219, 1), rgba(205, 235, 249, 1));
}

#Title {
	color: white; 
	text-shadow: 4px 4px 4px black;
	margin: 400px;
}

#vaccine {
	float: left;
}

#clinic {
	float: left;
}

#header1 {
	margin-top: 90px;
	color: white;
	text-shadow: 3px 3px 3px black;
}

#header2 {
	color: white;
	text-shadow: 3px 3px 3px black;
}

#paragraphs1 {
	background: radial-gradient(lightblue, blue); 
	border: solid;
	margin-left: 350px;
	padding: 15px;
	margin-right: 150px;
}

#paragraphs2 {
	background: radial-gradient(lightblue, blue); 
	border: solid;
	margin-left: 350px;
	padding: 15px;
	margin-right: 150px;
}


#erheader {
	text-align: center;
	text-decoration: underline;
}
p {
	color: white;
}
#navbars {
	text-align: center;
}

#Homeclick {
	color: white; text-decoration: none;
	position: absolute;
	left: 59px;
	text-shadow: 3px 3px 3px black;
}

#Infoclick {
	color: white; text-decoration: none;
	position: absolute;
	right: 59px;
	text-shadow: 3px 3px 3px black;
}

#Contactclick {
	color: white; text-decoration: none;
	position: absolute;
	left: 600px;
	text-shadow: 3px 3px 3px black;
}
.dropbtn {
  background-color: white;
  color:rgb(203, 151, 230);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(203, 151, 230);}
