
body {
	font-family: 'Open Sans', sans-serif;
	 background: linear-gradient(to right, rgba(123, 203, 219, 1), rgba(205, 235, 249, 1));
}
#titles { text-align: center; }
#Title {
	color: white; 
	text-shadow: 4px 4px 4px black;
	margin:500px;
}

#vaccine {
	float: left;
}

#clinic {
	float: left;
}

#header1 {
	margin-top: 90px;
	color: white;
	text-shadow: 3px 3px 3px black;
}

#header2 {
	color: white;
	text-shadow: 3px 3px 3px black;
}

#paragraphs1 {

	background: linear-gradient(to right, rgba(123, 203, 219, 1), rgba(205, 235, 249, 1));

	background: radial-gradient(rgba(188, 143, 224, 1), rgba(205, 210, 249, 1)); 

	border: solid;
	margin-left: 350px;
	padding: 15px;
	margin-right: 150px;
}

#paragraphs2 {

	background: linear-gradient(to right, rgba(123, 203, 219, 1), rgba(205, 235, 249, 1));

	background: radial-gradient(rgba(188, 143, 224, 1), rgba(205, 210, 249, 1)); 

	border: solid;
	margin-left: 350px;
	padding: 15px;
	margin-right: 150px;
}


#erheader {
	text-align: center;
	text-decoration: underline;
}
p {
	color: white;
}
#symptoms {
	color: white;
	font-weight: bold;
}
#navbars {
	text-align: center;
}


.navbar {
  width: 100%;
  background-color:white;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(185, 138, 207);
  text-decoration: none;
  font-size: 17px;
  
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: white;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.circle {
	color:white;
}